.pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #d0e6fd;
}

.pet {
    font-size: 3em;
}

.pet-container__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
